@charset "utf-8";/*독립된 css의 첫번째 줄에*/
img{
    max-width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blind {
            position: absolute;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            margin: -1px;
            overflow: hidden;
        }

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
}

h1,h2,h3,h4,h5,h6,b,strong{
    font-weight: inherit;
}

i,em{
    font-style: inherit;
}