body {
  font-family: "Pretendard", sans-serif;
  color: rgb(50, 50, 50);
  line-height: 1.2;
  letter-spacing: -0.1px;
  background-color: #fafafa;
  margin: 0;
}

/* 헤더 */
header {
  display: flex;
  flex-direction: row;
  align-items: center;       /* 수직 중앙 정렬 */
  justify-content: space-between;
  padding: 16px 28px;        /* 여백 추가 */
  background-color: white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

/* 로고 */
.logo a {
  display: flex;
  align-items: center;
  gap: 8px; /* 아이콘과 글씨 간 거리 */
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 700;
}

.logo-icon {
  width: 24px;
}

/* 검색 영역 */
.search form {
  display: flex;
  align-items: center;
  background: white;
  padding: 6px 12px;
  border: 1px solid #cccccc;
  border-radius:20px;
  width: 280px;
}

.search input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 14px;
  width: 100%;
}

.search button {
  border: none;
  background: none;
  cursor: pointer;
}

.search-icon {
  width: 24px;
}

/* 메뉴 */
.menu .login-menu{
    background-color: rgb(104, 219, 104);
    border-radius: 20px;
    color: white;
    padding: 5px 15px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu a {
  color: #444;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.menu a:hover {
  color: #000;
}

/* login page */
.login-page {
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    padding: 40px 50px;    
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    margin: 60px auto;     
    gap: 20px;
}
.welcome-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page h1{
    font-size: 25px;
    font-weight: 700;
    margin: 10px;
}

.login-page h2{
    font-size: 14px;
    font-weight: 500;
    color: #a1a1a1;
    margin: 10px;
}

/* input box 전체 */
.login-page .login-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

/* 실제 input */
.login-page .login-input input{
    width: 100%;
    padding: 12px 15px;
    background: white;
    border: 1px solid #cccccc;
    border-radius: 14px;
    font-size: 15px;
    outline: none;
    margin: 10px;
}

/* 로그인 버튼 */
.login-button {
    width: 100%;
    padding: 12px 0;
    background-color: #7acb7a;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #66b866;
}

/* 아이디/비번 찾기 */
.find{
    display: flex;
    flex-direction: row;
    color: #494949;
    gap: 12px;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}

.divider{
    width: 1px;
    height: 14px;
    background-color:#999999;
}

